
<h1 style="padding: 10px;">Favorites:</h1>

<div class ="houseContainer" *ngIf='houses.length>0'>
    <!--for creates multiple of whatever its on-->
    <app-housecard  class = "houseCard"  *ngFor='let house of houses' 
    cardtitle = '{{house.street}}, {{house.city}} {{house.state}}'
    cardtext = '${{house.price}}' 
    houseid = {{house._id}}
    thumbnail = {{house.photos[0]}}>
    </app-housecard>
</div>

<div class = "noneFound" *ngIf='houses.length==0'>No favorites found! Try adding some with the
    <i class="fas fa-heart favorited heart"></i>.
</div>