.page{
    padding: 50px 100px; //leftright topbot
}


.pagetitle{
    padding-bottom: 100px;
}

@media only screen and (max-width: 600px) { //screen 600 and lower
    .page{
        padding: 20px 50px; 
    }
    .pagetitle{
        padding-bottom: 50px;
    }
}