<h1 class="pagetitle">List Your Stay</h1>
<form [formGroup]="listingForm" (ngSubmit)="listHouse()">
    <div class="row">

        <div class="col-md-8">
            <div class="relatedItems">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" formControlName="title" class="form-control" id="title" placeholder="Title" >
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea formControlName="description" class="form-control" rows="5" id="description" placeholder="Description"></textarea>
                </div>
            </div>

            <div class="relatedItems">
                <div class="form-group">
                    <label for="street">Street Address</label>
                    <input type="text" formControlName="street"class="form-control" id="streetAddress" placeholder="Street Address" [ngClass]="{ 'is-invalid': submitted && listingForm.controls.street.errors }">
                </div>

                <div class="form-row form-group">
                    <div class="col-md-6">
                        <label for="city">City</label>
                        <input type="text" formControlName="city"class="form-control" id="city" placeholder="City" [ngClass]="{ 'is-invalid': submitted && listingForm.controls.city.errors }">
                    </div>
                    <div class="col-md-3">
                        <label for="state">State</label>
                        <input type="text" formControlName="state"class="form-control" id="state" placeholder="State" [ngClass]="{ 'is-invalid': submitted && listingForm.controls.state.errors }">
                    </div>
                    <div class="col-md-3">
                        <label for="zip">Zip</label>
                        <input type="text" formControlName="zip" class="form-control" id="zip" placeholder="Zip" [ngClass]="{ 'is-invalid': submitted && listingForm.controls.zip.errors }">
                    </div>
                </div>
            </div>

            <div class="relatedItems">
                <div class="form-row form-group">
                    <div class="col-md-3">
                        <label for="price">Price</label>
                        <input type="number" formControlName="price" class="form-control" id="price" placeholder="Num" [ngClass]="{ 'is-invalid': submitted && listingForm.controls.price.errors }">
                    </div>
                    <div class="col-md-3">
                        <label for="bedrooms">Bedrooms</label>
                        <input type="number" formControlName="bedrooms" class="form-control" id="bedrooms" placeholder="Num">
                    </div>
                    <div class="col-md-3">
                        <label for="bathrooms">Bathrooms</label>
                        <input type="number" formControlName="bathrooms" class="form-control" id="bathrooms" placeholder="Num">
                    </div>
                    <div class="col-md-3">
                        <label for="sqfeet">Square Feet</label>
                        <input type="number" formControlName="sqfeet" class="form-control" id="sqfeet" placeholder="Sq ft">
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col-md-6">
                        <label for="contactemail">Contact Email</label>
                        <input type="email" formControlName="contactemail" class="form-control" id="contactemail" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="col-md-6">
                        <label for="contactphone">Contact Phone</label>
                        <input type="tel" formControlName="contactphone" class="form-control" id="contactphone"  placeholder="Enter phone number">
                    </div>
                </div>
            </div>

            <button type="submit" id = "submitButton" class="btn btn-primary float-right" [disabled]="loading" >
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Submit
            </button>

        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label for="uploadPhoto">Upload Photos</label>
                <div id="selectedImages"></div>
                <input type="file" id="files" name="files[]" accept="image/png, image/jpeg" multiple="multiple"
                formControlName="photos" class="form-control-file" id="photo" (change)="onSelectFile($event)">
            </div>
        </div>

    </div><!--end row-->
    
</form>