<div class="card" style="width: 15rem;">
    <img class="card-img-top" src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/512/house-icon.png" alt="Card image cap">
    <div class="card-body" (click)='openInfo()'>
        <h5 class="card-title" >{{cardtitle}}</h5>
        <p class="card-text">{{cardtext}}</p> 
        <i [hidden]='favorited'class="fas fa-heart unfavorited heart" (click)='favorite()'></i>
        <i [hidden]='!favorited'class="fas fa-heart favorited heart" (click)='unfavorite()'></i>
    </div>
</div>