<div class="card">
    <div class="clickableArea"(click)='openInfo()'>
        <div class="imgHolder" >

        </div>
        <div class="card-body" >
            <h5 class="card-title" id="ctitle">{{cardtitle}}</h5>
            <p  style="margin-left: 30px;" class="card-text">{{cardtext}}</p>
        </div>
    </div>
    <i class="fas fa-trash-alt trash icon" [hidden] = '!trashEnabled' (click)='delete()'></i>
    <div class="favButton" [hidden]='!loggedIn'>
        <i [hidden]='favorited' class="fas fa-heart unfavorited heart icon" (click)='favorite()'></i>
        <i [hidden]='!favorited' class="fas fa-heart favorited heart icon" (click)='unfavorite()'></i>
    </div>
</div>