.card:hover{ 
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari */
    transform: scale(1.05);
    transition: ease-in-out;
    transition-duration: .1s;
    cursor: pointer;
}

.card{
    margin-left:15px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border-style: none;
    max-width: 24rem;
    min-width: 24rem;
}

.card-body{
    margin-left: 10px;
    margin-bottom: 2px !important;
    padding: 0;
    justify-content: left;
    text-align: left;
}

.card-text{
    font-size: large;
}

#ctitle{
    margin-bottom:3px;
}

.icon{
    font-size: 24px;
    padding:12px;
    //background-color: green;
}

.unfavorited:hover{
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari */
    transform: scale(1.2);
    transition: ease-in-out;
    transition-duration: .1s;
}

.favorited{
    color: orange;
    font-size: 24*1.2px;
    padding:12*.8px;
}

.favButton{
    position: absolute;
    right: 0;
    bottom:0;
}


.trash{
    position: absolute;
    left: 0;
    bottom:0;
}

.trash:hover{
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari */
    transform: scale(1.2);
    transition: ease-in-out;
    transition-duration: .1s;
    color: red;
}

.clickableArea{
    padding-bottom: 10px;
}

.imgHolder{
    margin-top: 5px;
    padding-bottom: 2px;
    border-bottom: solid 1px #7c92a0;
}

