.card:hover{ 
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari */
    transform: scale(1.05);
    transition: ease-in-out;
    transition-duration: .1s;
    cursor: pointer;
}

.card{
    margin:10px;
}

.heart{
    font-size: 24px;
    padding:12px;
    //background-color: green;
}

.unfavorited:hover{
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari */
    transform: scale(1.2);
    transition: ease-in-out;
    transition-duration: .1s;
}

.favorited{
    color: orange;
    font-size: 24*1.2px;
    padding:12*.8px;
}

.favButton{
    position: absolute;
    right: 0;
}

img{
    padding: 20px;
}

