.houseContainer{
    display:flex; 
    text-align: center;
    //background-color: blue;
}

.houseCard{
    border: none;
    //background-color: black;
}

.mainContainer{
    display:flex; 
    flex-direction: row;
    text-align: center;
    justify-content: center;
    //background-color: blue;
}

app-map{
    width: 100%;
}

input {
    width: 50%;
  }
