<input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Address" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
<br />
<div class="mainContainer">
    <br />
    <app-map [houses]='houses'></app-map>
    <div class ="houseContainer" *ngIf='houses.length>0'>
        <!--for creates multiple of whatever its on  -->  
        <app-housecard  class = "houseCard"  *ngFor='let house of houses' 
        cardtitle = '{{house.street}}, {{house.city}} {{house.state}}'
        cardtext = '${{house.price}}' 
        houseid = {{house._id}} >
        </app-housecard>
    </div>
<div class = "noneFound" *ngIf='houses.length==0'>No houses found.</div>    
