/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


.houseCard{
    display: inline-block;
    border: none;
}

.noneFound{
    color:orange;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding-top: 10%;
}